#mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
}

.ilmoitus{
    margin: 10px;
}

.sendButton{
    border-style: solid;
    border-color: black;
    width: 300px;
    margin: 20px;
    
}

.fieldButton{
    margin-top: 10px;
}

.fieldDiv{
    margin-top:10px;
    border-style: solid;
    position: relative;
}

.fieldDivLabel{
    padding: 5px;
}

.fieldDivPlus{
    position: absolute;
    right: 10px;
}


.ilmoitusLabel{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

.otsikko{
    
   font-weight: bold;
    
}

.fieldset{
    margin: 10px;
}

.headerDiv{
    margin-top: 5px;
    width: 100%;
    text-align: center;
    
}

/*
.sectionBox{
    border-style: solid;
    background-color: white;
    position: relative;
    margin: 10px;
    height: 100%;
}
*/
.sectionBox2{
    border-style: solid;
    background-color: white;
    position: relative;
    margin: 10px;
    width: 550px;
    height: fit-content;
}

.finalBox{
    border-style: solid;
    height: 400px;
    text-align: center;
    width: 1120px;

}

#finalBoxRow{
    display: flex;
    flex-direction: row;
}

.sendButtonDiv{
    text-align: center;
    width: 100%;
}

#table1{
    width: 100%;
}

#table1, th{
    font-size: 16px;
}

#table1, th, td{
    border-style: solid;
}

#table2{
    width: 100%;
    text-align: left;
    
}

#table2, th,td{
    border-style: none;
}

#tableDiv{
    width:100%;
}

#nykyinen{
    width: 70rem;
}

#newSystems{
    width:50%;
    min-height: 300px;
}

#changes{
    width:50%;
    min-height: 300px;
}

.tehoLabel{
    font-size: 20px;
    font-weight: bold;
}

#changesTop{
    margin: 10px;
}

#formRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

#newSystemsFieldset{
    text-align: left;
    margin-left: 10px;
}

.table2Old{
    width: 200px;
    text-align: center;
}

.table2New{
    width:200px;
    text-align: center;
}

#legend1{
    text-align: center;
}



.tdCenter{
    text-align: center;
}

#newSystemsPower{
    text-align: left;
}

.systemLabel{
    font-size: 17px;
    font-weight: bold;
}

.muutosRivi{
    display: flex;
    flex-direction: row;
}

.muutosBox{
    width: 50%;
    border-style: groove;
}

.muutosOtsikko{
    text-align: center;
}

.invertteriBoksi{
    border-style: solid;
    position: relative;
}

.inverterPlus{
    font-size: 18px;
    position: absolute;
    right: 5%;
    bottom: 25%;
}