

#mittariDiv{
    border-style: solid;
}

#mittariDiv textarea{
    width: 100%;
    height: 100px;
    resize: none;
    
}

#video-container1{
    display: none;
}

#video-container2{
    display: none;
}
