:root{
    --boxSideMargin: 20px;
    --boxPadding: 30px;
    --clickBoxSideMargin: 20px;
    --clickBoxPadding: 10px;
    --modalPadding: 10px;
    --greenColor: rgb(55, 199, 55);
    --lineHeight: 4px;
    --stopScanHeight: 80px;
    --inputMinWidth: 120px;
    --inputMinHeight: 30px; 
    --radius: 15px;
    --picModalTopMargin: 10px;
    --videoWidth: 100dvw;
    --videoHeight: 100dvh;
    --videoBorder: 10px;
    --videoBoxWidth: calc(var(--videoWidth) + 2*var(--videoBorder));
    --picModalSideMargin: 5vW;
    --lampFont: 24px;
    --videoIconWidth: 60%;
    --videoIconHeight: 60%;
    --videoSquare: 70%;
    --videoCornerBorderWidth: 2px;
    --videoFrame: calc(var(--videoSquare) + 16*var(--videoCornerBorderWidth));
    --cameraHalfCircleRadius: 40px;
    --roundButtonRadius: 30px;
    --blackHeight: 100px;


    --black: #000000;
  --green: #37C737;

  --green-dark: #2FA62F;
  --green-light: #6EE06E;
  --green-bg: #E6F9E6;

  --gray-dark: #1A1A1A;
  --gray: #444444;
  --gray-light: #AAAAAA;

  --white: #FFFFFF;
  --bg-light: #F5F5F5;
}

#torchDebugDiv{
    display: none;
    background-color: antiquewhite;
    width: var(--videoBoxWidth);
    height: auto;
}


#mittariDiv{
    border-style: solid;
    display: none;
}

textarea{
    width: calc(100% - 40px);
    height: 100px;
    resize: none;
    
}

.videoBox{
    position: relative;
    width: 100%;
    height: 100%;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
}

.videoWrapper {
  position: relative;
  width: 100%;
  height: 110%;
  overflow: hidden;
}



.whiteLabel{
    color: var(--green-bg);
    font-size: var(--lampFont);
}

@media (max-width: 600px){
    /*.videoBox{
    position: fixed;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: var(--radius);
    width: 90%;
    }
    #videoWrapper{
        position: relative;
    width:90%;
    height: 50dvh;
    overflow: hidden;
    border-style: solid;
    border-color: var(--greenColor);
    border-width: 20px;
    }
    .modal{
        position: fixed;   
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: none;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,0.5);

    }*/
    .modal-open{
        position: fixed;
        height: 100%;
        overflow: hidden;
    }
}

/*#videoWrapper {
  position: relative;
  width:var(--videoWidth);
  height: 50dvh;
  overflow: hidden;
  border-style: solid;
  border-color: var(--greenColor);
  border-width: 20px;
}*/






#video-container, #ocr-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    /* pystysuunnassa */
    flex-direction: column;
    
}

#video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#lampDiv{
    width: var(--videoBoxWidth);
    height: var(--stopScanHeight);
    display: flex;
    background-color: var(--greenColor);
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    border-bottom: none;
}

#lampDiv:hover{
    background-color: var(--green-dark);
}



#stopScan{
    width: var(--videoBoxWidth);
    height: var(--stopScanHeight);
    display: flex;
    background-color: var(--greenColor);
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    border-top: none;
}

#stopScan:hover{
    background-color: var(--green-dark);
}


#romutettavaByHand{
    min-width: var(--inputMinWidth);
    min-height: var(--inputMinHeight);
}

.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--videoSquare);
  height: var(--videoSquare);
  transform: translate(-50%, -50%);

  background: transparent;
  border: 2px solid transparent;
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.6);
}

.scan-area{
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;

  border-radius: 12px;

  overflow: hidden;
}

.frame {
  position: relative;
  width: var(--videoFrame);
  height: var(--videoFrame);
  display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;

    
}




.frame span {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 3px solid white;
  z-index: 2;
}


/* vasen ylä */
.frame .tl {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

/* oikea ylä */
.frame .tr {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

/* vasen ala */
.frame .bl {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}

/* oikea ala */
.frame .br {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}


.scan-line {
  position: absolute;
  left: 0;
  right: 0;
  height: var(--lineHeight);
  background: lime;
  box-shadow: 0 0 10px lime;

  animation: scan 2s linear infinite;
}



@keyframes scan {
  0% {
    top: 0;
  }
  100% {
    top: calc(100% - var(--lineHeight));
  }
}

table tr.selectedRomuRow td {
    background-color: aquamarine;
}

#romutettavat table{
    width: 100%;
    font-size: 20px;
}

.removeRomuRowBtn{
    display: block;
    width: 30dvh;
}

.hiddenBtn{
    display: none;
}

#pic-container1, #pic-container2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center; /* vaakasuunnassa */
    align-items: center;     /* pystysuunnassa */
    flex-direction: column;
}

.pictureBox{
    display: flex;
    flex-direction: column;
    border-style: solid;
    background-color: white;
    position: fixed;
    align-items: stretch;
    width: 90vw;

}

.getPicture{
    justify-items: left; /* vaakasuunnassa */
    align-content: center;     /* pystysuunnassa */
    flex-direction: column;
    border-style: dashed;
    border-color: black;
    overflow: auto;
    min-width: 200px;
    min-height: 200px;
}


#imgInput1, #imgInput2 {
    width: 100%;
}
.mittariFieldDiv{
    margin-left: var(--clickBoxSideMargin);
}

#tyhjennaRomu{
    margin-bottom: var(--boxPadding);
}

#mittariInfoSign{
    position: relative;
  display: inline-block;
  cursor: pointer;
}

#toolTip1Sign {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.toolTip1 {
  visibility: hidden;
  width: fit-content;
    font-weight: normal;
  background-color: var(--greenColor);
  color: #ffffff;

  text-align: left;
  border-radius: 6px;
  padding: 5px;

  position: absolute;
  z-index: 1;

  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);

  border: 1px solid black
}

.toolTip1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
    font-weight: normal;
  border-width: 5px;
  border-style: solid;
  border-color: var(--greenColor) transparent transparent transparent;
}

#toolTip1Sign:hover .toolTip1 {
  visibility: visible;
}







.sarjanumeroDiv{
    
}

.picDiv{
    display: flex;
}

.picFieldset{
    margin-left: var(--boxSideMargin);
    margin-right: var(--boxSideMargin);
    box-sizing: border-box;
    min-width: 0;
}

#picFieldset1Upper, #picFieldset2Upper{
    margin-top: var(--picModalTopMargin)
}

.picButtonsDiv{
    margin-left: var(--boxSideMargin);
}

#picDropZone{
    margin-right: var(--clickBoxSideMargin);
    margin-left: var(--clickBoxSideMargin);
    overflow: auto;
}

#beforePicLabel1, #beforePicLabel2{
    font-size: 1rem;
    padding: 0 20px;
}

.videoBlack{
    width: 100%;
    height: var(--blackHeight);
    background-color: #000000;
}

#BlackUpper, #ocrUpperBlack{
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: var(--blackHeight);
    
}

#BlackLower, #ocrLowerBlack{
    bottom:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: var(--blackHeight);
}

#ocrLowerBlack{
    
}

#ocrUpperBlack{
    width: 100%;
    height: calc(var(--blackHeight))
}

#zoomWrapperLower{
    
    height: var(--blackHeight);

}

.material-icons{
    color: white;
}

.material-symbols-outlined{
    color:white;
}

#imgCancel{
    width: var(--videoIconWidth);
    height: var(--videoIconHeight);
}

.videoBtnWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: var(--blackHeight);
    width: 70%;
    place-items: center;
}

#lightOn, #lightOff, #lightOnOcr, #lightOffOcr{
    display: none;
    width: var(--videoIconWidth);
    height: var(--videoIconHeight);
}


#zoomValue{
    color: white;
    font-size: calc(var(--videoIconHeight)*3);
    width: fit-content;
}

#zoomOut, #zoomIn{
    width: var(--videoIconWidth);
    height: var(--videoIconHeight);
}

#zoomTesti{
    color: white;
}

#preview1{
    max-width:400px;
    max-height: 400px;
    min-width: 300px;
    min-height: 300px;
    display: none;
}





#zoomMaxCode, #zoomMinCode{
    color: white;
    font-size: 1.5rem;
}

.zoomDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 55%;
    justify-content: center;
    
}

.zoomWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 80%;
}

#ocrDiv{
    display: flex;
    flex-direction: row;
    color: Black;
    background-color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.photoDiv{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 140px;
}

#photoOcr{
    width: calc(2*var(--roundButtonRadius));
    height: calc(2*var(--roundButtonRadius));
    border-radius: calc(2*var(--roundButtonRadius));
    padding-left: 0%;
    padding-right: 0;
    background-color: white;
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translate(-50%, 50%);
    z-index: 3;
}

#zoomValueOcr{
    font-size: 1.5rem;
    color: white;
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

#ocr-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ocrUpperBlack{
    display: flex;
    flex-direction: row;
}

#ocrRectangle{
    position: absolute;
  border: 2px solid yellow;
  box-sizing: border-box;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 35%;
  transform: translate(-50%, -50%);
  background: transparent;
}

#ocrVideoWrapper .overlay::after{
    width: calc(60%*1.15);
    height: calc(35%*1.15);
    transform: translate(-50%, -50%);
}


#zoomMinCodeOcr, #zoomMaxCodeOcr{
    color: white;
    font-size: 1.5rem;
}

#noSerialNumberByPic,#serialNumberByPicZXing,#serialNumberByPicTesseract{
    display: none;
}

#ocrButton{
    display: none;
}
#cameraHalfCircle{
    width: calc(2*var(--cameraHalfCircleRadius));
    height: var(--cameraHalfCircleRadius);
    border-top-right-radius: calc(2*var(--cameraHalfCircleRadius));
    border-top-left-radius: calc(2*var(--cameraHalfCircleRadius));
    background-color: black;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0%);
}

/*#ocrUpperWrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: var(--blackHeight);
    width: 70%;
    place-items: center;
    
}*/

#zoomFactorWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#changeCameraDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}