:root {
  --reuna_oikea: 40px;
  --reuna_taulukko_vasen: 700px;
  --reuna_taulukko_top: 600px;
  --bg_color: rgb(194, 222, 232);

}


  .otsikkoa{
    position:relative;
  }
  
  header.otsikkoa{
    background-image: url("/assets/Header-kuva.png");
    background-size: 100% 100%;
    height: 250px;
    border-style: outset;

    text-align: center;

    
  
  }

  .kello_div{
    position: relative;
    grid-area: kellorivi;
    height: 30px;

  }
  #kello{
    color: black;
    position:absolute;
    font-size: 22px;
    top: 0;
    right:0;

  }

  .item1 { grid-column: 1 / span 2; 
    grid-area: header; }
  .item2 { border: 2px blue;

            border-style: solid;
            grid-area: menu; }
  .item3 { 
          /*border: 1px solid red;*/
          border: 2px blue;
          border-style: solid;
          grid-area: main; 
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;  
        }
  .item4 { border: 2px blue;
    border-style: solid;
          grid-area: right; }
  .item5 {  border: 2px blue;
            border-style: solid;
            grid-area: footer; }

  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header'
      'kellorivi kellorivi kellorivi kellorivi kellorivi'
      'menu main main right right'
      'menu footer footer footer footer';
    grid-template-columns: 1fr, repeat(2, 1,8fr),1fr,1fr;
    gap: 20px;
    background-color: var(--bg_color);
  }

  .grid-container > div {
    text-align: center;
    font-size: 30px;
    padding: 10px;
  }



  
 body {
    background-color: var(--bg_color);
  }

  
 



  

  .item3 #listat{
    margin-top: 0;
    margin-left: 0;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;  
    
  }

  #lista1{
    text-align: left;
    margin-left: 0;
  }

  #lista2{
    margin-left: 20px;
    text-align: left;
  }






  #lista1 > ul {
    list-style-type: none;
    width: 150px;
    margin: 0;
    text-align: left;
    line-height: 40px;
    font-size: 25px;
    

  }

  #lista2 > ul{
    list-style-type: none;
    width: 10px;
    margin: 0px;
    text-align: left;
    line-height: 40px;
    font-size: 25px;
  }

  
 
  #saa_taulukko_1{
    font-size: 17px;
    float: left;
    width: 100%;
    height: 50%;
  }
  
  #saa_taulukko_2{
    font-size: 17px;
    margin-bottom: 0;
    float: left;
    width: 100%;
    height: 50%;
    left: 0;
  }
    
  #navi{
    font-size: 22px;
  }

  #footer_teksti > p{
    text-align: left;

  }

  #footer_teksti > h3{
    text-align: center;

  }
  .formi{
    text-align: left;
  }
  .kentta{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
    box-sizing: border-box;
  }
  



@media only screen and (max-width: 900px) {

    .grid-container {
      display: grid;
      grid-template-areas:
        'header'
        'kellorivi'
        'main'
        'right'
        'left'
        'menu'
        'footer';
      gap: 20px;
      background-color: var(--bg_color);
    }

    .grid-container >div{
      width: 90%;
    }

    #kello{
      color: black;
      position:absolute;
      font-size: 22px;
      top: 0;
      left:0;
      text-align: left;
  
    }

    .selitteet{
      display: none;
    }


    .taulukot{
      font-size: 17px;
      margin-bottom: 0;
      float: left;
    }
    
}

