* {
  box-sizing: border-box;
}



#PictureBox{
    background-color: white;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: left;
    max-width: 65dvw;
    min-width: 0;
}

#PictureBox button{
    width:fit-content;
}

#PicDiv{
    
}

#serialNumberByPic1, #serialNumberByPic2{
    display: none;
}

#picDropZone{
    height: 100px;
    width: fit-content;
    max-width: 80%;
    border-style: dashed;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: auto;
    min-width: 0;
    
}

#PicPreview{
    max-width: 450px;
    max-height: 450px;
    margin-top: 20px;
    min-width: 0;
    
}

.picFieldset{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    min-width: 0;
}

#picInfoDiv{
    display: none;
}

#picInfo{

}
.picNumber{
    display: none;
    margin-left: 0;
    transform: none;
    overflow-x: visible;
}
.inFieldset{
    padding: 10px;
    overflow-x: auto;
}

#closeButton{
    margin: 20px 10px 20px 0px;
    margin-left: 10px;
}


#imgInput1 button{
    height: 60px;
}

#beforePicLabel1{
    padding: 0px 20px;
}

#waitingPicAnalyze{
    display: none;
}

.inFieldset p{
    font-size: 17px;
}

#lowerInFieldset{
    
}

.picButton{
    min-width: 80px;
    min-height: 30px;
    border-radius: 10px;
    background-color: rgb(55, 199, 55);
    border-style: none;
    color: white;
}

::file-selector-button {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(55, 199, 55);
    border-style: none;
    color: white;
    font-size: 10px;
}